.fade-enter,
.fade-enter-active {
	opacity: 1;
	transform: translateY(0);
}

.fade-exit {
	opacity: 1;
	transform: translateY(0);
}

.fade-exit-active {
	opacity: 0;
	transform: translateY(-300px);
	transition: transform 600ms ease-out, opacity 500ms;
}
::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
.scroll-parent {
	width: 300px;
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.scroll-child {
	scroll-snap-align: center;
	height: 500px;
	flex: 0 0 100%;
	::-webkit-scrollbar {
		display: none;
	}
}
